.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #61dafb;
  text-decoration: none;
}

.home {
  margin-top: 20px;
}
